*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

}

html, body{
    width: 100vw;
    height: 100vh;
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
}

#tela{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 267px;
    height: 471px;

}

.logo{
    width: 6vw;
    height: 12vh;
    border-radius: 50%;
}